/* Header */
.navbar-brandeee {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 38px;
    color: #2c9b0a;
    text-decoration: none;
    }

/* Police - taille texte et titre */
main {
  font-family: 'Roboto Slab', serif; 
  font-size: medium;
  font-weight: bold;
}
h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  color: #2c9b0a;
}

h1 {
  font-size: x-large;
  letter-spacing: 3px;  
}
/* Banière fleurs tropicales */
.banner {
    width: 100%;
    overflow: hidden;
  }
  .banner img {
    width: 100%;
    height: 500px;
  }
  
  @media screen and (max-width: 1024px) {
      .banner {
        display: none;
      }
    }  
    @media screen and (min-width: 2000px) {
      .banner {
        display: none;
      }
    }







    /* Footer */
footer {
    text-align:center;
  }
  .Grey-background-footer {
    background-color: rgba(0, 0, 0, 0.050);
    padding: 30px;  
  }
  .titre-footer {
    font-family: 'Delicious Handrawn', cursive;
    color: #2c9b0a;
  }
   .nav-link {
    margin-left: 10px;
    margin-right: 10px;
   }
  .text-reset {
    text-decoration: none;
  }